# Environments
.env
.venv
venv/

# IDE / Editor folders
.vscode/
.idea/

# Mac OS
.DS_Store

# Python
*.pyc
__pycache__/
.pytest_cache/

# Google Cloud credentials
ai-ticket-agent-*.json
*.json

# Other
travel-concierge/
helpdesk.db
logs/
