# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
.Python
*.egg
*.egg-info/
dist/
build/
.eggs/
.venv/
venv/
env/

# Database
*.db
*.sqlite3

# Logs
*.log
backend/logs/

# Environment
.env
.env.local
.env.*.local

# Node
node_modules/
frontend/dist/
frontend/dist-ssr/

# IDE
.vscode/*
!.vscode/extensions.json
.idea/
.DS_Store

# OS
Thumbs.db
